<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Got What You Need?</h2>
                <hr class="light">
                <p class="text-faded">Do you need a review of your Target Operating Model? Perhaps even a full Operational review, to harmonise processes or make things a little more efficient in the back-office?</p>
                <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
