<section class="bg-primary" id="about"> <!--HOW CAN I HELP? Section-->
    <div class="container">
        <div class="row">
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">Darren Brench-Kremer</h2>
                <hr class="light">
                <p class="text-faded">A highly experienced operations leader with a wealth of insurance and reinsurance knowledge.
Lead the transformation of what was an administration team to a multi-disciplined operations department, providing proactive, cross-functional support to the growing business. Working closely with the Europe MD and fellow members of the Senior management Team to ensure that the strategy and direction of the business is executed.
A generalist with an abundance of experience on the business side, coupled with soft, technical and IT skills. Efficient and inquisitive, seeks to understand the how and why, challenges positively to improve and refine processes or build new pragmatic solutions as the changing business needs or direction dictates.
Adopts the trainer/manager role to help develop others and coach them on how to look beyond their own responsibilities and understand where they can add value to the business.  He takes people on the journey with him.  Adept at building relationships, working collaboratively with internal and external clients, suppliers and colleagues.
A driver in developing processes to new business lines and bringing about consistency. Held multiple, global key project roles in developing the blueprint to allow implementation of a single new operations platform across the five business units.
An excellent opportunity to utilise a skilled professional with solid experience in developing consistent processes to enable operational growth.</p>
        <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
