<section class="bg-primary" id="about"> <!--HOW CAN I HELP? Section-->
    <div class="container">
        <!--=<div class="row">-->
            <!--<div class="col-lg-8 col-lg-offset-2 text-center">-->
              <div class="col-lg-12 text-center">
                <h2 class="section-heading">Darren Brench-Kremer</h2>
                <hr class="light">
                <p class="text-faded">I’m a highly experienced Operations Leader with over 30 years of Insurance and Reinsurance knowledge, covering predominantly Life/Health and Longevity lines of business.
<div class="row">
  I would say that I am a generalist or all-rounder at heart, with an abundance of experience gained on the business side as well as Technical and more IT focused skills picked up from IT/projects and Business Analysis.
This array of knowledge stems from my inquisitive nature and determination to understand the how’s? and why’s? of a business.
<div class="row">
<p class="text-faded">With working experience in most functions within a company now, it’s no surprise that I have developed deep collaboration and operational skills over time.
</div>
As a Leader, I find working to develop others and coaching them on how to look beyond their own responsibilities particularly rewarding.  Listening to their combined ideas and ensuring to understand how value can be best added, really makes a difference to enabling change and improving processes.
<div class="row">
<p class="text-faded">I’m now working with clients like you, who require a skilled operations’ professional with solid experience in developing teams and consistent processes. For further information please click the LinkedIn icon on the Contact page.</p>
        <!--<a href="#" class="btn btn-default btn-xl">Get Started!</a>-->
            </div>
        </div>
    </div>
</section>
