<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next initiative or project? That's great! Connect or contact me via the buttons below, I'm eager to find out how I can best support you.</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/ltd_copper"
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_ltd_copper }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:{{ site.email }}">
              <!--<a href="copperpeakltd@gmail.com">-->
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.email_copperpeakltd@gmail.com }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://uk.linkedin.com/in/darren-brench-kremer-b8214326">
              <!--removed from end of line above after adding in/darren.....{{ site.linkedin_username }}"-->
            <i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.linkedin_in/darren-brench-kremer-b8214326 }}</p>
            </a>
        </div>

    </div>
</section>
