<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Value</h3>
          <p class="text-muted">Aim to add value to your Business, Team or Project from day one.</p>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
                    <i class="fa fa-4x fa-star wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Knowledge</h3>
          <p class="text-muted">Senior Management Team member with Risk Management, IT Solutions and Continuous improvement experience.</p>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                    <i class="fa fa-4x fa-puzzle-piece wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Solutions</h3>
          <p class="text-muted">Operations review, Business Process improvement, Business Analysis and Cost/Benefit analysis.</p>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                    <i class="fa fa-4x fa-road wow bounceIn text-primary" data-wow-delay=".4s"></i>
                    <h3>Flexible</h3>
          <p class="text-muted">Operating to meet your requirements, on-site, remote or a mix of both, it's your choice.</p>
                </div>
            </div>
</section>
