<section id="trackrecord">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Track Record</h2>
                <hr class="primary">
            </div>
            <!--<div class="container">
                <div class="row">-->
      <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
                    <i class="fa fa-4x fa-star wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Migrations</h3>
          <p class="text-muted">Led migration of 100,000+ policies across 20+ commercial insurance products, spanning Claims, Underwriting, Actuarial, Premium Collection and Agency functions</p>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
          <div class="service-box">
                    <i class="fa fa-4x fa-star wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>PAS Delivery</h3>
          <p class="text-muted">Delivered a global SAP platform across four business units, enabling retirement of over 20 legacy applications and reducing costs</p>
      </div>
      </div>
      <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                    <i class="fa fa-4x fa-star wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Scaled improvement</h3>
          <p class="text-muted">Transformed and led a quality European Operations support function</p>
            </div>
            </div>
      <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
                    <i class="fa fa-4x fa-star wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Operations & SME thought leadership</h3>
          <p class="text-muted">Currently providing Claims Operations SME leadership on a Reinsurance Claims Transformation programme, reporting into the Group CFO</p>
            </div>
            </div>
</section>
